<div class="card-faq">
    <div class="card-body-faq">
        <div class="div">
            <h1 class="h1-faq">Acerca de Notas</h1>
            <hr class="my-3">
        </div>
        <p class="faq-preg">• ¿Qué es y para qué sirve?</p>
        <p class="faq-resp">Es una agenda personal, un lugar donde poder apuntar tus ideas y organizarlas con la ventaja
            de estar en la red y poder llevarlas a todas partes.</p>
        <br>
        <p class="faq-preg">• ¿Qué contiene?</p>
        <p class="faq-resp">Notas rápidas</p>
        <br>
        <p class="faq-preg">• ¿Cuánto espacio de almacenamiento tengo?</p>
        <p class="faq-resp">De momento dispones de: <br>
            50 Notas rápidas</p>
        <br>
        <p class="faq-preg">• ¿Tengo que pagar por usar las Notas?</p>
        <p class="faq-resp">No, es un servicio gratuito.</p>
    </div>
</div>