<div class="jumbotron mt-4 card-body-index">
    <h1 class="display-4 h1-index">Notas de uso Diario</h1>
    <p class="lead p-index">¡EMPIEZA A USARLO, ES GRATIS!</p>
    <hr class="my-4">
    <p class="p-index">Si está escrito en un post-it, debe de ser importante.</p>
        <a href="/users/signup" class="btn btn-primary btn-lg">Registrarse</a>
</div>
